.dashboard-buttons {
    text-align: center;
    margin-top: 10px;
}

.dashboard-btn{
    background-color: #ffffff;
    color: blue;
    transition: 0.5s;
}

.dashboard-buttons .dashboard-btn {
    margin: 2px;
}

.cards-container{
    margin-top: 20px;
}

.card {
    width: 10rem;
    height: 20rem;
    margin: 5px;
    box-shadow: 2px 2px 2px black;
    background-color: #E8E8E8;
}

.card-btn{
    margin: 2px;
}

@media (min-width : 800px) {
    .card {
        width: 13rem;
        margin: 10px;
        height: 18rem;
    }
    
}