.dashboard-buttons {
    text-align: center;
    margin-top: 10px;
}

.dashboard-btn{
    background-color: #ffffff;
    color: blue;
    transition: 0.5s;
}

.dashboard-buttons .dashboard-btn {
    margin: 2px;
}


.btn-icn-cent{
    display: flex;
    align-items: center;
}