.carousel-item {
    overflow: hidden;
}

.carousel {
    margin: 0%;
    padding: 0%;
}

.carousel-btn {
    margin: 0%;
    padding: 0%;
}

.carousel-image {
    max-height: 600px;
    /* max-height: 600px; */
    width: 100%; /* Ensure images don't exceed the parent container */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image */
}